.keyword {
    -fx-fill: blue;
    -fx-font-weight: bold;
}

.comment {
    -fx-fill: grey;
}

.semicolon {
    -fx-fill: red;
    -fx-font-weight: bold;
}

.variable {
    -fx-fill: green;
    -fx-font-weight: bold;
}